@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --primary: #CBFB45;
  --secondary: #7C32F9;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans font-light;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-space font-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
