@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000814;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-condensed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
